/*--------------------------------------------------------*/

.jp-RenderedHTMLCommon h1 {

  position: relative;
  
  font-size: var(--jp-content-font-size5);
  padding: 2 10px;
  margin: 10px auto;
  padding : 10px;
  display: inline-block;
  text-align: center;
  border-top:5px
  solid orangered;
  border-top-left-radius: 3% 60%;
  border-top-right-radius: 3% 60%;
  border-bottom:5px
  solid orangered;
  border-bottom-left-radius: 3% 60%;
  border-bottom-right-radius: 3% 60%;  
  
}

.jp-RenderedHTMLCommon h1:before {
  display: block;
  width: 5px;
  height: 5px;
  left: 0;
  top: 50%;
  position: absolute;
}
.jp-RenderedHTMLCommon h1:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  right: 0;
  top: 50%;
  position: absolute;
}



.jp-RenderedHTMLCommon h2 {
  max-width: 800px;
  position: relative;
  font-size: var(--jp-content-font-size4);
  padding: 2 10px;
  margin: 10px auto;
  padding : 10px;
  display: inline-block;
  text-align: center;
  border-top:5px
  solid #000022ff;
  border-top-left-radius: 3% 60%;
  border-top-right-radius: 3% 60%;
  border-bottom:5px
  solid orangered;
  border-bottom-left-radius: 3% 60%;
  border-bottom-right-radius: 3% 60%;  
}


.jp-RenderedHTMLCommon h3 {
  max-width: 700px;
  position: relative;
  font-size: var(--jp-content-font-size3);
  padding: 2 10px;
  margin: 10px auto;
  padding : 10px;
  display: inline-block;
  text-align: center;
  border-top:5px
  solid rgb(4, 80, 124);
  border-top-left-radius: 3% 60%;
  border-top-right-radius: 3% 60%;
  border-bottom:5px
  solid orangered;
  border-bottom-left-radius: 3% 60%;
  border-bottom-right-radius: 3% 60%;
}
.jp-RenderedHTMLCommon h4 {
  max-width: 600px;
  position: relative;
  font-size: var(--jp-content-font-size2);
  padding: 2 10px;
  margin: 10px auto;
  padding : 10px;
  display: inline-block;
  text-align: center;
  border-top:5px
  solid rgb(91, 136, 161);
  border-top-left-radius: 3% 60%;
  border-top-right-radius: 3% 60%;
  border-bottom:5px
  solid orangered;
  border-bottom-left-radius: 3% 60%;
  border-bottom-right-radius: 3% 60%;
}
.jp-RenderedHTMLCommon h5 {
  max-width: 500px;
  position: relative;
  font-size: var(--jp-content-font-size1);
  padding: 2 10px;
  margin: 10px auto;
  padding : 10px;
  display: inline-block;
  text-align: center;
  border-top:5px
  solid rgb(148, 182, 202);
  border-top-left-radius: 3% 60%;
  border-top-right-radius: 3% 60%; 
  border-bottom:5px
  solid orangered;
  border-bottom-left-radius: 3% 60%;
  border-bottom-right-radius: 3% 60%;
}
